@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";
@import "../base/typography.scss";

.launch-container {
  margin: 40px auto;
  width: 80%;
  height: 75vh;
  background-color: $txt-color;
  position: relative;
  border-radius: 10px;
  border: 2px solid white;
  overflow: hidden;

  h1 {
    color: white;
    font-family: $text-font;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem 50px;
    line-height: 35px;
    position: absolute;
  }

  p {
    top: 30vw;
    width: 80%;
    color: white;
    font-family: $text-font;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem 50px;
    line-height: 35px;
    position: absolute;
  }

  .number {
    font-size: 5rem;
    margin-top: 250px;
    line-height: 75px;
  }

  .moon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    right: 30px;
  }
}

.rocket {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.rocketAnimation {
  animation: rocketMovement 4s ease;
}

@keyframes rocketMovement {
  0% {
    opacity: 0;
  }

  @keyframes moonMovement {
    0% {
      transform: translate(8px, 3px);
    }

    50% {
      transform: translate(5px, -5px);
    }

    100% {
      transform: translate(8px, 3px);
    }
  }

  .rocket {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}

.cloud-one {
  position: absolute;
  bottom: -20px;
  left: -30px;
}

.cloudOneAnimation {
  animation: cloudOneMovement 2s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes cloudOneMovement {
  0% {
    transform: scale(1);
  }

  @keyframes rocketMovement {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 1;
      transform: scale(1.1);
    }

    100% {
      transform: translate(300px, -400px) scale(0.1);
      opacity: 1;
    }
  }

  .cloud-one {
    position: absolute;
    bottom: -20px;
    left: -30px;
  }

  .cloudOneAnimation {
    animation: cloudOneMovement 2s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes cloudOneMovement {
    0% {
      transform: scale(1);
    }

    100% {
      opacity: 0.5;
      transform: scale(1.4);
    }
  }

  .cloud-two {
    position: absolute;
    bottom: -20px;
    left: -30px;
  }

  .cloudTwoAnimation {
    animation: cloudTwoMovement 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes cloudTwoMovement {
    0% {
      transform: scale(1);
    }

    100% {
      opacity: 0.5;
      transform: scale(0.8) translate(-100px, 100px);
    }
  }
}
