@import "../base/typography.scss";
@import "../abstracts/mixins.scss";
.beers-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    padding: 0 0 30px;
    margin: 0 0 15px;
    &--expanded {
      width: 90%;
    }
  }
}
.beer-box {
  width: 90%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.detailed-description {
  align-self: flex-start;
  display: none;
  max-width: 700px;
  margin-bottom: 15px;
  font-family: $roboto;
  letter-spacing: 0.5px;
  &--shown {
    display: block;
  }
}
.image-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-height: 350px;
  margin-bottom: 10px;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.general-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title-box {
  align-self: start;
  width: 100%;
  margin-bottom: 15px;
}
.beer-price {
  width: 50%;
  text-align: end;
  line-height: 15px;
  vertical-align: middle;
  font-family: $text-font;
  font-size: 20px;
  margin-top: 20px;
}
.beer-name {
  align-self: flex-start;
  font-family: $header-font;
  font-size: 25px;
  letter-spacing: 1px;
}
.beer-details {
  align-self: flex-start;
  font-family: $roboto;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.726);
}
.order-container {
  display: flex;
  flex-direction: column;
}
.checkout {
  @include primary-btn;
}

.change-value-btn {
  @include plus-minus-btn;
}
.beer-amount {
  width: 30px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 21px;
  font-family: $text-font;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.add-beers-container {
  display: flex;
  align-items: baseline;
  &--auto-top {
    margin-top: auto;
  }
}
.on-tap-today {
  font-family: $header-font;
  color: $bg-color-light;
  font-size: 40px;
}
