@import "../base/typography.scss";
.beers-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    padding: 0 0 30px;
    margin: 0 0 15px;
    &--expanded {
      width: 90%;
    }
  }
}
.detailed-description {
  display: none;
  max-width: 400px;
  &--shown {
    display: block;
  }
}
.image-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-height: 350px;
  margin-bottom: 10px;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beer-name {
  font-family: $header-font;
  font-size: 25px;
}
.beer-details {
  font-family: $text-font;
  font-size: 12px;
}

.checkout {
  border-radius: 9px;
  padding: 17px 35px;
  background-color: $bttn-color;
  display: inline-block;
  font: normal normal 26px/1 "Roboto", sans-serif;
  text-align: center;
}
.checkout:hover {
  border-radius: 9px;
  padding: 17px 35px;
  background-color: $orange-main;
  display: inline-block;
  font: normal normal 26px/1 "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
}
.minus,
.plus {
  margin-right: 5px;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: $bg-color;
  color: white;
  display: inline-block;
  font: normal normal 26px/1 "Roboto", sans-serif;
  text-align: center;
}
