@import "../abstracts/variables.scss";

.pageWrapper {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  min-height: 50px;
  margin-top: auto;
  text-align: center;
  background-color: $txt-color;
}
.footer p {
  font-family: $text-font;
  color: $bttn-color;
  margin-top: 15px;
  font-size: 12px;
}
