@import "../abstracts/variables.scss";
@import "../base/typography.scss";

.pageWrapper {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  min-height: 50px;
  margin-top: auto;
  text-align: center;
  background-color: $txt-color;
}
.footer p {
  font-family: $text-font;
  color: $bttn-color;
  margin-top: 15px;
  font-size: 12px;
}
.logo {
  max-height: 100px;
  width: auto;
  margin-top: 15px;
  transform: rotate(-18deg);
}
.cart {
  position: absolute;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .desktop-blur {
    display: none;
  }
}
.desktop-blur {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  text-align: center;
  line-height: 100vh;
  font-family: $header-font;
  font-size: 35px;
}
